<template>
  <div class="main-content">
    <!-- First article -->
    <div class="box" :key="articles[0].id">
      <div class="image" :style="{ backgroundImage: 'url(' + require('@/assets/blog/'+ articles[0].image +'') + ')' }">
      </div>
      <div class="aside">
        <h3>{{articles[0].title}}</h3>
        <p class="description">{{articles[0].body.substring(0,300)}} ...</p>
        <p class="reading-time">Temps de lecture : {{articles[0].readingTime}}</p>
        <p class="hashtag">#{{articles[0].category}}</p>
      </div>
    </div>
    <!-- Next articles -->
    <div class="box" v-for="article in articles.slice(1,5)" :key="article.id">
      <div class="image" :style="{ backgroundImage: 'url(' + require('@/assets/blog/'+ article.image +'') + ')' }">
      </div>
      <div class="aside">
        <h3>{{article.title}}</h3>
        <p class="">{{article.body.substring(0,300)}} ...</p>
        <p class="reading-time">Temps de lecture : {{article.readingTime}}</p>
        <p class="hashtag">#{{article.category}} </p>
        <button>Lire l'article</button>
      </div>
    </div>
    <!-- Image gallery -->
    <gallery></gallery>
  </div>
</template>

<script>
import Vue from 'vue'
import VueResource from 'vue-resource'
Vue.use(VueResource)
import Gallery from './Gallery.vue'

export default {
  name: 'Home',
  components: {
    Gallery
  },
  data () {
    return {
      articles: []
    }
  },
  methods: {
    fetchArticles() {
      this.$resource('articles').get().then((response) => {
          this.articles = response.data
        }, (response) => {
          console.log('erreur', response)
        }
      )
    }
  },
  http: {
    root: 'http://localhost:5000'
  },
  mounted () {
    this.fetchArticles();
  }
}
</script>

<style scoped>
  .main-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 0px;
  }

  .box {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
  }

  .box h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: .5rem 0;
    text-align: left;
    color: darkred;
  }

  .box p {
    font-size: .88rem;
    line-height: 1.5;
    margin: 0;
  }

  .box button {
    display: inline-block;
    color: #ff577f;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    background-color: #fff;
    border: solid 1px #ff577f;
    padding: .75rem 1.25rem;
    border-radius: 30px;
    box-shadow: 2px 1px 30px 0 #ddd;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-top: 1rem;
  }

  .box button:hover {
    transform: scale(1.05);
    background-color: #ff577f;
    color:#fff;
  }

  .box .image {
    width: 30%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    position: relative;
    cursor: pointer;
  }

  .box .aside {
    width: 70%;
    padding-left: 2rem;
  }

  .box .hashtag {
    font-size: .85rem;
    color: dodgerblue;
    font-weight: 500;
    text-align: left;
    margin-top: 1rem;
  }

  .box .reading-time {
    font-style: italic;
  }

  .separator {
    width: 350px;
    left: 50%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  /* First article */

  .box:first-child {
    flex-direction: column;
    position: relative;
  }

  .box:first-child h3 {
    margin-top: 1.5rem;
  }

  .box:first-child .image {
    width: 100%;
    height: 500px;
  }

  .box:first-child .aside {
    width: 100%;
    padding-left: 0;
  }

</style>