<template>
  <div class="gallery">
    <h2>Galerie</h2>
    <div class="gallery-container">
      <div class="box" v-for="project in projects" :key="project.id">
        <router-link tag="div" class="image" :to="{name: 'project-details', params: {pid: project.id}}" :style="{ backgroundImage: 'url(' + require('@/assets/images/'+ project.image[0] +'') + ')' }">
        </router-link>
      </div>
    </div>
  </div> 
</template>

<script>
import Vue from 'vue'
import VueResource from 'vue-resource'
Vue.use(VueResource)

export default {
  name: 'Gallery',
  data () {
    return {
      projects: []
    }
  },
  methods: {
    fetchProjects() {
      this.$resource('projects').get().then((response) => {
          this.projects = response.data
        }, (response) => {
          console.log('erreur', response)
        }
      )
    }
  },
  http: {
    root: 'http://localhost:3000'
  },
  mounted () {
    this.fetchProjects();
  }
}
</script>

<style scoped>
  .gallery {
    margin: 6rem 0;
  }

  .gallery h2 {
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    font-size: 1.8rem;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
  }

  .box {
    border-radius: 6px;
    background: transparent;
    padding: 0;
  }

  .box h2 {
    font-size: .9rem;
    font-weight: 700;
    margin: .5rem 0;
    text-align: center;
    color: darkred;
    position: relative;
  }

  .box .image {
    width: 200px;
    height: 200px;
    border-radius: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    position: relative;
    cursor: pointer;
  }
</style>