<template>
  <div>
    <footer>
      <ul>
        <li><router-link :to="{name: 'homepage'}">Accueil</router-link></li>
        <li><router-link :to="{name: 'homepage'}">Modèles gratuits</router-link></li>
        <li><router-link :to="{name: 'projects-filter', params: {like: true, filter: 'like=true'}}">Favoris</router-link></li>
        <li><a href="#">À propos</a></li>      
        <li><router-link :to="{name: 'blog'}">Blog</router-link></li>   
      </ul>
      <div class="contact">
        Contact<br>
        hello@alfredchicken.fr
      </div>
      <a href="#" class="backtotop">
        <img src="../assets/icons/arrow-up-solid.svg" class="icon">
        haut
      </a>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'MyFooter'
}
</script>

<style scoped>
  footer {
    position: relative;
    width: 100%;
    display: flex;
  }

  footer ul {
    list-style-type: none;
    width: 40%;
    margin: 10px 0 40px;
  }

  footer ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: darkred;
    color: #fff;
  }

  footer .contact {
    width: 40%;
    font-size: 1rem;
    font-weight: 600;
    color: darkred;
    color: #fff;
    margin: 10px 0 40px;
    line-height: 1.8;
  }

  .backtotop {
    z-index: 999;
    position: absolute;
    right: -1rem;
    top: -5rem;
    font-size: 1.1rem;
    color: #ff577f;
    font-weight: 600;
  }

  .backtotop .icon {
    width: auto;
    height: 1rem;
  }

</style>