<template>
  <div class="nav-container" id="top">
    <router-link :to="{name: 'homepage'}">
      <h1 class="page-title">
        <img src="../assets/icons/cotcot.png" class="logo">
        AlfredChicken
      </h1>
    </router-link>
    <nav class="nav">
      <router-link :to="{name: 'homepage'}">Modèles gratuits</router-link>
      <router-link :to="{name: 'projects-filter', params: {like: true, filter: 'like=true'}}" @click.native="$scrollToTop">Favoris</router-link>
      <a href="#">À propos</a>
      <router-link :to="{name: 'blog'}">Blog</router-link>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'MyHeader'
}
</script>

<style scoped>
  .nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav-container h1 {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 2.5rem;
    line-height: 80px;
    color: darkred;
  }

  .nav {
    line-height: 80px;
    height: 80px;
  }

  .nav a {
    font-size: 1rem;
    padding: 0 1rem;
    color: darkred;
    font-weight: 600;
    display: inline-block;
    height: 80px;
  }

  .page-title {
    font-size: 30px;
    margin: 0;
  }

  .logo{
    height: 80px;
    width: auto;
    display: inline-block;
    vertical-align: bottom;
  }

  /* Responsive */
  @media screen and (max-width: 992px) {
    .nav-container {
      display: inherit;
    }
    
  }
</style>