<template>
  <div class="main-content">
    <div class="box" v-for="project in projects" :key="project.id">
      <router-link tag="div" class="image" :to="{name: 'project-details', params: {pid: project.id}}" :style="{ backgroundImage: 'url(' + require('@/assets/images/'+ project.image[0] +'') + ')' }">
      </router-link>
      <h2>
        {{project.title}}
        <img v-if="project.like === false" @click.prevent="updateLike(project)" src="../assets/icons/heart-regular.svg" class="icon-like">
        <img v-else @click.prevent="updateLike(project)" src="../assets/icons/heart-solid.svg" class="icon-like">
      </h2>
      <p class="hashtag">
        #{{project.category}} #{{project.technique}} #{{project.difficulty}}
      </p>
      <div class="button-group">
        <router-link tag="button" :to="{name: 'project-details', params: {pid: project.id}}">
          Voir plus
        </router-link>
        <form>
          <button v-if="project.like === false" @click.prevent="updateLike(project)">
            Aimer
          </button>
          <button v-else @click.prevent="updateLike(project)">
            Je n'aime plus
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueResource from 'vue-resource'
Vue.use(VueResource)


export default {
  name: 'Projects',
  data () {
    return {
      projects: []
    }
  },
  methods: {
    fetchProjects() {
      this.$resource('projects').get().then((response) => {
          this.projects = response.data
        }, (response) => {
          console.log('erreur', response)
        }
      )
    },
    updateLike(project) {
      // -------------------------- USE PATCH METHOD TO UDDATE ONE PART OF AN OBJECT : --------------------------
      const updateData = { like: project.like ? false : true };
      this.$http.patch('http://localhost:3000/projects/'+project.id, updateData).then((response) => {
        console.log(response.data);
      }, (response) => {
        console.log('erreur', response)
      });
      // -------------------------- USE PUT METHOD TO UDDATE THE WHOLE OBJECT : --------------------------
      // const updateData = {id: project.id,
      //                   title: project.title, 
      //                   description: project.description, 
      //                   difficulty: project.difficulty, 
      //                   category: project.category,
      //                   like: project.like ? false : true };
      // this.$http.put('http://localhost:3000/projects/'+project.id, updateData).then((response) => {
      //   console.log(response.data);
      // }, (response) => {
      //   console.log('erreur', response)
      // });
      this.fetchProjects();
    }
  },
  http: {
    root: 'http://localhost:3000'
  },
  mounted () {
    this.fetchProjects();
  }
}

</script>

<style scoped>
  .main-content {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
  }

  .box {
    border-radius: 6px;
    background: transparent;
    position: relative;
  }

  .box h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: .5rem 0;
    text-align: center;
    color: darkred;
    position: relative;
  }

  .box p {
    font-size: .88rem;
    line-height: 1.5;
    margin: 0;
  }

  .box .button-group {
    display: block;
    width: 100%;
    text-align: center;
    margin: .5rem 0 1rem;
  }

  .box form {
    display: inline-block;
  }

  .box button {
    display: inline-block;
    color: #ff577f;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    background-color: #fff;
    border: solid 1px #ff577f;
    padding: .75rem 1.25rem;
    border-radius: 30px;
    box-shadow: 2px 1px 30px 0 #ddd;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
  }

  .box button:hover {
    transform: scale(1.05);
    background-color: #ff577f;
    color:#fff;
  }

  .box .image {
    width: 100%;
    height: 300px;
    border-radius: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    position: relative;
    cursor: pointer;
  }

  .box .icon-like {
    width: 20px;
    height: 20px;
    margin-left: .25rem;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .box .icon-like:hover {
    transform: scale(1.25);
  }

  .box .hashtag {
    font-size: .85rem;
    color: dodgerblue;
    font-weight: 500;
    text-align: center;
  }
</style>
