<template>
  <div class="main-content">
    <div v-if="projects[0]">
      <div class="content">
        <div class="left-column">
          <h2 class="title">
            {{projects[0].title}}
            <img v-if="projects[0].like === false" @click.prevent="updateLike(projects[0])" src="../assets/icons/heart-regular.svg" class="icon-like">
            <img v-else @click.prevent="updateLike(projects[0])" src="../assets/icons/heart-solid.svg" class="icon-like">
          </h2>
          <p class="hashtag">#{{projects[0].category}} #{{projects[0].technique}} #{{projects[0].difficulty}}</p>
          <img :src="'' + require('@/assets/images/'+ projects[0].image[0] +'') " width="auto">
          <h3>Étapes</h3>
          <ol>
            <li v-for="item in projects[0].description" :key="projects[0].id">
              {{ item }}
            </li>
          </ol>
          <div class="button-group">
            <form>
              <button v-if="projects[0].like === false" @click.prevent="updateLike(projects[0])">Aimer</button>
              <button v-else @click.prevent="updateLike(projects[0])">Je n'aime plus</button>
            </form>
            <router-link tag="button" :to="{name: 'homepage'}">
              Retour
            </router-link>
          </div>
        </div>
        <div class="right-column">
          <h3>Matériel</h3>
          <ul>
            <li v-for="item in projects[0].material" :key="projects[0].id">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      
    </div> 
    
  </div>
</template>

<script>
export default {
  name: 'ProjectDetails',
  data () {
    return {
      projects: []
    }
  },
  methods: {
    fetchProjects() {
      this.$resource('projects').get({id: this.$route.params.pid}).then((response) => {
          this.projects = response.data
        }, (response) => {
          console.log('erreur', response)
        }
      )
    },
    updateLike(project) {
      const updateData = { like: project.like ? false : true };
      this.$http.patch('http://localhost:3000/projects/'+project.id, updateData).then((response) => {
        console.log(response.data);
      }, (response) => {
        console.log('erreur', response)
      });
      this.fetchProjects();
    }
  },
  http: {
    root: 'http://localhost:3000'
  },
  mounted () {
    this.fetchProjects();
  }
}
</script>

<style scoped>
  .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: darkred;
    margin: 2rem 0 .5rem;
    position: relative;
  }

  .title .icon-like {
    width: 20px;
    height: 20px;
    margin-left: .25rem;
    cursor: pointer;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .title .icon-like:hover {
    transform: scale(1.25);
  }

  .hashtag {
    font-size: .85rem;
    color: dodgerblue;
    font-weight: 500;
    margin: .5rem 0 2rem;
  }

  .content {
    display: flex;
  }

  .left-column {
    width: 60%
  }

  .right-column {
    width: 40%
  }

  .content h3 {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    margin: 3rem 0 1rem;
  }

  .content form {
    display: inline-block;
  }

  .content button {
    display: inline-block;
    color: #ff577f;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    font-size: .9rem;
    background-color: #fff;
    border: solid 1px #ff577f;
    padding: .75rem 1.25rem;
    border-radius: 30px;
    box-shadow: 2px 1px 30px 0 #ddd;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
  }

  .content button:hover {
    transform: scale(1.05);
    background-color: #ff577f;
    color:#fff;
  }

  .content .button-group {
    text-align: right;
  }
  
  .content ol, 
  .content ul {
    margin: 0;
    padding-left: 1rem;
  }

  .content ul {
    list-style-type: circle;
  }

  .content ol li,
  .content ul li {
    font-size: .9rem;
    margin: 1.5rem 0;
    line-height: 1.05;
  }
</style>