<template>
  <div>
    <div class="sticky">
      <h2>Bienvenue,</h2>
      <p>Ce site propose des modèles gratuits de projects en tricot et crochet pour débutants en confirmés.</p>
      <p style="text-decoration: underline; font-weight: bolder;">Afficher par catégorie :</p>
      <router-link tag="button" :to="{name: 'homepage'}">
        retour <img src="../assets/icons/home-alt-regular.svg" class="icon-button">
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {like: true, filter: 'like=true'}}">
        coups de coeur <img src="../assets/icons/heart-light.svg" class="icon-button">
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {filter: 'all'}}">
        voir tous
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {technique: 'tricot', filter: 'technique=tricot'}}">
        #tricot
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {technique: 'crochet', filter: 'technique=crochet'}}">
        #crochet
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {difficulty: 'facile', filter: 'difficulty=facile'}}">
          #facile
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {difficulty: 'moyen', filter: 'difficulty=moyen'}}">
        #moyen
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {difficulty: 'difficile', filter: 'difficulty=difficile'}}">
        #difficile
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {category: 'mode', filter: 'category=mode'}}">
        #mode
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {category: 'déco', filter: 'category=déco'}}">
        #déco
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {category: 'jouet', filter: 'category=jouet'}}">
        #jouet
      </router-link>
      <router-link tag="button" :to="{name: 'projects-filter', params: {category: 'homme', filter: 'category=homme'}}">
        #homme
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sidebar'
}
</script>

<style scoped>
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: .85rem;
    line-height: 1.7;
    margin-top: 2rem;
  }

  button {
    display: inline-block;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: .85rem;
    font-weight: 600;
    color: #fff;
    background: darkred;
    margin: .35rem 0;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    padding: .25rem .8rem;
    box-shadow: none;
    appearance: unset;
    box-shadow: 2px 1px 30px 0 rgb(225, 225, 225);
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  button:focus {
    color: #fff;
    background: #ff577f;
    border-color: #ff577f;
  }

  button:hover {
    transform: scale(1.05);
  }

  .sticky {
    position: sticky;
    top: 0;
    padding-top: 10px;
  }

  .icon-button {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }

  .sidebar .image {
    display: inline-block;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
  }
</style>