<template>
  <div id="app">
    <div class="container">
      <my-header class="header"></my-header>
      <sidebar class="sidebar"></sidebar>
      <router-view :key="$route.fullPath"/>
      <my-footer class="footer"></my-footer>
    </div>
  </div>
</template>

<script>
import MyHeader from './components/MyHeader.vue'
import MyFooter from './components/MyFooter.vue'
import Sidebar from './components/Sidebar.vue'

export default {
  name: 'App',
  components: {
    MyHeader, MyFooter, Sidebar
  },
  mounted () {
    document.body.classList.add('reset')
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

#app {
  font-family: 'Hind Siliguri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  /* color: #2c3e50; */
  color: #000;
  line-height: 1.1;
}

html {
  scroll-behavior: smooth;
}

body.reset {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 6rem;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 4fr;
  box-sizing: border-box;
  filter: blur(0px) brightness(1) grayscale(0);
  position: relative;
}

.layout-sidebar-left,
.layout-sidebar-right {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-gap: 0px;
  box-sizing: border-box;
  position: relative;
}

.layout-sidebar-left {
  grid-template-columns: 1fr 4fr;
}

.layout-sidebar-right {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header,
.sidebar,
.box,
.main-content,
.footer {
  font-size: 30px;
  box-sizing: border-box;
  padding: 20px;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  border-bottom: solid 4px darkred;
  padding: 10px 20px 15px;
}

.footer {
  grid-row: 3 / 4 ;
  grid-column: 1 / -1;
  border-top: solid 4px darkred;
  margin-top: 5rem;
  background-color: darkred;
}

.sidebar {
  grid-row: 2 / 3 ;
  grid-column: 1 / 2;
}

.main-content {
  grid-row: 2 / 3 ;
  grid-column: 2 / 4;
}

.layout-sidebar-left .sidebar {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}
.layout-sidebar-left .main-content {
  grid-row: 1 / -1;
  grid-column: 2 / 4;
}
.layout-sidebar-right .sidebar {
  grid-row: 1 / -1;
  grid-column: 4 / 5;
}
.layout-sidebar-right .main-content {
  grid-row: 1 / -1;
  grid-column: 1 / 4;
}

button:focus {
  outline: none;
}

/* Responsive */
  @media screen and (max-width: 992px) {
    .container {
      padding: 0;
      display: inherit;
    }
  }

</style>
